*{
  margin: 0;
  padding: 0;
  color: #3D3430;
  list-style: none;
  text-decoration: none;
}
.container{
  width: 1320px;
  margin: 0 auto;
}
.btn{
  color: #fff;
  font-size: 18px;
  padding: 14px 28px;
  background-color: #7258F7;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: .4s;
  cursor: pointer;
}
.btn:hover{
  background-color: transparent;
  border: 2px solid #7258F7;
  color: #000;
}
h2{
  font-size: 56px;
  font-weight: 700;
}
p{
  font-size: 18px;
  font-weight: 400;
}
/* Navabr part start */
.navbar{
  background-color: #DBD5FB;
  padding: 20px 0;
}
.nav-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-ul{
  display: flex;
  gap: 60px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
/* Navbar part end */



/* Banner part start */
.banner{
  padding: 100px 0;
}
.banner-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content{
  width: 48%;
}
.banner h1{
  font-size: 64px;
}
.banner p{
  padding-top: 30px;
  width: 65%;
  line-height: 140%;
  font-size: 20px;
}
.banner-btn{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.banner-img{
  width: 48%;
}
.banner-img img{
  width: 100%;
}
/* Banner part end */


/* Sales part start */
.sales{
  padding: 70px 0;
  background-color: #FCF8F8;
}
.sales h2{
  width: 50%;
}
.sales-card{
  margin-top: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.card{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000;
  transition: .4s;
  cursor: pointer;
}
.card h4{
  padding-top: 28px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
}

.card:hover{
  background-color: #7258F7;
  color: #fff;
  scale: calc(1.1);
}
/* Sales part end */


/* Work part start */
.work{
  padding: 100px 0;
}
.work-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.work-img{
  margin: 0 auto;
  width: 70%;
  height: 580px;
  border-radius: 15px;
  background-color: #C4C4C4;
}
.work-pera{
  width: 50%;
}
.animation-box{
  width: 80%;
  margin-top: 20px;
}
.aniTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.aniTitle .button1{
  border: none;
  background-color: transparent;
  font-size: 24px;
}
.aniTitle .button2{
  border: none;
  background-color: transparent;
  display: none;
}
 .animation{
  padding-top: 10px;
  width: 80%;
  /* display: none; */
}
/* Work part end */

/* Focus part start */
.focus{
  padding: 100px 0;
  background-color: #FEF8E4;
}
.focus-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.focus-box3{
  width: 100%;
  justify-self: end;
  height: 350px;
  background-color: #C4C4C4;
}
.focus-box1{
  width: 80%;
  justify-self: end;
  height: 350px;
  background-color: #C4C4C4;
}
.focus-box2{
  width: 90%;
  justify-self: start;
  height: 350px;
  background-color: #C4C4C4;
}
.focus-card{
  padding: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.focus-card2{
  width: 73%;
  padding: 40px;
  border-radius: 10px;
  cursor: pointer;
  justify-self: end;
}
.focus-card2 h4{
  padding-top: 28px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.focus-card2 p{
  width: 65%;
  line-height: 140%;
}
.focus-card h4{
  padding-top: 28px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.focus-card p{
  width: 60%;
  line-height: 140%;
}

/* Focus part end */



/* Selected part start */
.select{
  padding: 100px 0;
}
.select-main{
  position: relative;
}
.select-content p{
  width: 280px;
}
.position{
  display: flex;
  margin-top: 50px;
}
.select1{
  width: 31%;
  height: 500px;
  background-color: #C4C4C4;
  position: absolute;
  position: relative;
}
.position-content{
  width: 60%;
  padding: 20px ;
  border-radius: 10px;
  background-color: #E2DDFB;
  position: absolute;
  top: 85%;
  right: 0;
}
.position-content h4{
  font-size: 24px;
}

.select2{
  width: 31%;
  height: 450px;
  background-color: #C4C4C4;
  position: absolute;
  left: 450px;
  top: 150px;
}
.select3{
  width: 31%;
  height: 550px;
  background-color: #C4C4C4;
  position: absolute;
  top:0px;
  left: 900px;
}
/* Selected part end */
